<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<<<<<<< HEAD
      <link rel ="stylesheet" href="./assets/css/styles.css">
      {{!-- added css link to handle bars --}}
    <title>{{ title }}}</title>
    {{!-- use to  document--}}
=======
    <title>Social Distance</title>
>>>>>>> ab6f08d3264031a27ad110ae72e138eb8d095f83
</head>
<header>
    <h1>
        <a href="/">Social Distance</a>
    </h1>
    <nav>
        <a href="/login">login</a>
    </nav>
</header>


<body>
    {{{ body }}}
</body>
</html>